+dict()
  +name('AceJump Label - Blue')
  +scope('acejump.label.blue')
  +dict('settings')
    +background(scheme.base.blue)
    +foreground(scheme.base.white)

+dict()
  +name('AceJump Label - Green')
  +scope('acejump.label.green')
  +dict('settings')
    +background(scheme.base.green)
    +foreground(scheme.base.white)

+dict()
  +name('AceJump Label - Orange')
  +scope('acejump.label.orange')
  +dict('settings')
    +background(scheme.base.orange)
    +foreground(scheme.base.white)

+dict()
  +name('AceJump Label - Purple')
  +scope('acejump.label.purple')
  +dict('settings')
    +background(scheme.base.purple)
    +foreground(scheme.base.white)
