+dict()
  +name('Bracket Curly')
  +scope('brackethighlighter.default')
  +dict('settings')
    +foreground(scheme.base.paleblue)

+dict()
  +name('Bracket Quote')
  +scope('brackethighlighter.quote')
  +dict('settings')
    +foreground(scheme.base.green)

+dict()
  +name('Bracket Unmatched')
  +scope('brackethighlighter.unmatched')
  +dict('settings')
    +foreground(scheme.base.red)
