+dict()
  +name('Markdown - Plain')
  +scope('text.html.markdown, punctuation.definition.list_item.markdown')
  +dict('settings')
    +foreground(scheme.foreground)

+dict()
  +name('Markdown - Markup Raw Inline')
  +scope('text.html.markdown markup.raw.inline')
  +dict('settings')
    +foreground(scheme.base.red)

+dict()
  +name('Markdown - Line Break')
  +scope('text.html.markdown meta.dummy.line-break')
  +dict('settings')
    +foreground(scheme.invisibles)

+dict()
  +name('Markdown - Heading')
  +scope()
    | ,markdown.heading, markup.heading | markup.heading entity.name,
    | ,markup.heading.markdown punctuation.definition.heading.markdown,
  +dict('settings')
    +foreground(scheme.base.green)

+dict()
  +name('Markup - Italic')
  +scope('markup.italic')
  +dict('settings')
    +fontStyle('italic')
    +foreground(scheme.base.pink)

+dict()
  +name('Markup - Bold')
  +scope('markup.bold')
  +dict('settings')
    +fontStyle('bold')
    +foreground(scheme.base.pink)

+dict()
  +name('Markup - Underline')
  +scope('markup.underline')
  +dict('settings')
    +fontStyle('underline')
    +foreground(scheme.base.orange)

+dict()
  +name('Markup - Strike')
  +scope('markup.strike')
  +dict('settings')
    +fontStyle('strike')
    +foreground(scheme.base.brown)

+dict()
  +name('Markdown - Blockquote')
  +scope('markup.quote, punctuation.definition.blockquote.markdown')
  +dict('settings')
    +fontStyle('italic')
    +foreground(scheme.base.cyan)

+dict()
  +name('Markup - Quote')
  +scope('markup.quote')
  +dict('settings')
    +fontStyle('italic')
    +foreground(scheme.base.cyan)

+dict()
  +name('Markdown - Link')
  +scope('string.other.link.title.markdown')
  +dict('settings')
    +fontStyle('underline')
    +foreground(scheme.base.blue)

+dict()
  +name('Markup - Raw Block')
  +scope('markup.raw.block')
  +dict('settings')
    +foreground(scheme.base.purple)

+dict()
  +name('Markdown - Raw Block Fenced')
  +scope('markup.raw.block.fenced.markdown')
  +dict('settings')
    +background(scheme.highlight)
    +foreground(scheme.foreground)

+dict()
  +name('Markdown - Fenced Bode Block')
  +scope('punctuation.definition.fenced.markdown, variable.language.fenced.markdown')
  +dict('settings')
    +background(scheme.highlight)
    +foreground(scheme.invisibles)

+dict()
  +name('Markdown - Fenced Language')
  +scope('variable.language.fenced.markdown')
  +dict('settings')
    +fontStyle('')
    +foreground(scheme.invisibles)

+dict()
  +name('Markdown - Separator')
  +scope('meta.separator')
  +dict('settings')
    +background(scheme.highlight)
    +fontStyle('bold')
    +foreground(scheme.invisibles)

+dict()
  +name('Markup - Table')
  +scope('markup.table')
  +dict('settings')
    +background(scheme.base.red+'1a')
    +foreground(scheme.base.red)
