+dict()
  +background(scheme.background)
  +key('caret',scheme.caret)
  +foreground(scheme.foreground)
  +key('guides',scheme.guides)
  +key('activeGuide',scheme.activeGuide)
  +key('stackGuides',scheme.stackGuides)
  +key('gutterForeground',scheme.gutter)
  +key('invisibles',scheme.invisibles)
  +key('lineHighlight',scheme.highlight)
  +key('selection',scheme.selection)
  +key('selectionBorder',scheme.selection)
  +key('shadow',scheme.shadow)
  +popupCss('<![CDATA[ html { background-color: #212121; color: #eeffffff; padding: 16px; } a { color: #B2CCD6; display: block; } .error, .deleted { color: #FF5370; } .success, .inserted { color: #C3E88D; } .warning, .modified { color: #FFCB6B; } ]]>')