+dict()
  +name('SublimeLinter Warning')
  +scope('sublimelinter.mark.warning')
  +dict('settings')
    +foreground(scheme.base.yellow)

+dict()
  +name('SublimeLinter Gutter Mark')
  +scope('sublimelinter.gutter-mark')
  +dict('settings')
    +foreground(scheme.base.white)

+dict()
  +name('SublimeLinter Error')
  +scope('sublimelinter.mark.error')
  +dict('settings')
    +foreground(scheme.base.red)

+dict()
  +name: SublimeLinter Annotation
  +scope('sublimelinter.annotations')
  +dict('settings')
    +background(scheme.base.brown)
