include ../schemes/_mixins/mixins.pug
doctype plist
plist(version="1.0")
  +dict()
    +author(author)
    +key('comment',comment)
    +csn('sRGB')
    +array('settings')
      +dict()
        +dict('settings')
          +background(ui.background.primary.hex)
          +foreground(scheme.foreground)
          +key('caret',scheme.caret)
          +key('invisibles',scheme.invisibles)
          +key('lineHighlight', scheme.highlight)
          +key('selection',scheme.selection)
          +key('selectionBorder',scheme.selection)

      +dict()
        +name('Comment')
        +scope('comment')
        +dict('settings')
          +fontStyle('italic')
          +foreground(scheme.comments)

      +dict()
        +name('Keyword')
        +scope('keyword, storage')
        +dict('settings')
          +foreground(scheme.keyword)

      +dict()
        +name('Keyword Control Character')
        +scope('keyword.control.character-class')
        +dict('settings')
          +foreground(scheme.base.red)

      +dict()
        +name('Constant')
        +scope('constant')
        +dict('settings')
          +foreground(scheme.constant)

      +dict()
        +name('Quantifiers')
        +scope('string, keyword.operator.quantifier')
        +dict('settings')
          +foreground(scheme.string)

      +dict()
        +name('Escaped Constants')
        +scope('constant.character.escape')
        +dict('settings')
          +foreground(scheme.constantEscaped)
